<h2>Order Up</h2>
<div id="ready_to_eat">
  <!-- Dynamically Insert Ready Burgers Here -->
  {{#each burgers}}
    {{#unless devoured}}
    <form action="burger/eat/{{id}}" method="POST">
        <li>{{id}}. {{burger_name}}</li>
        <button type="submit">Eat My Burger</button>
    </form>
    {{/unless}}
  {{/each}}
</div>

<h2>Devoured</h2>
<div id="already_eaten">
  <!-- Dynamically Insert Eaten Burgers Here -->
  {{#each burgers}}
    {{#if this.devoured}}
      <li>{{this.id}}. {{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</div>


